.rdt_Table {
    @apply w-full table-auto;
}
  
.rdt_TableHeadRow {
    @apply bg-gray-2 text-left dark:bg-meta-4;
}

.rdt_TableCol {
    @apply min-w-[220px] px-4 py-4 font-medium text-black dark:text-white xl:pl-11;
    min-width: 220px;
    padding: 15px;
    font-weight: 500;
    color: black;
    font-size: 15px;
    text-align: left;
}

.rdt_TableCell{
    @apply border-b text-black dark:text-white border-[#eee] px-4 py-3 pl-9 dark:border-strokedark xl:pl-1 dark:bg-meta-4;
}

.rdt_Pagination {
    @apply bg-gray-2 text-left dark:bg-meta-4 text-black dark:text-white;
}

.dark .rdt_Pagination button svg {
    fill: white;
}